@font-face {
  font-family: 'BRUSHSCI';
  src: local('BRUSHSCI'), url('../../fonts/BRUSHSCI.TTF') format('truetype');
}
#cover {
  min-height: 240px;
  background: url('http://localhost:3027/picture/Crocus_Wallpaper_by_Roy_Tanck.jpg');
  background-size: cover;
  background-position: center center;
  margin-bottom: 12px;
}
#cover-inner{
  height: 240px;
  background: rgba(0,0,0,0.5);
  color:#fff;
}
#cover-inner .col-5, #cover-inner .col-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-picture {
  width: 62px;
  border-radius:50%;
  border: 1px solid #ddd;
}
#profile-picture-button {
  position: absolute;
  right: 35%;
  bottom:35%;
}
#update-info-button {
  background: #ddd;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 0.7rem;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  cursor: pointer;
}

#update-info-button:hover{
  opacity: 0.6;
  color:#f00;
}

label {
  font-size: smaller;
  font-weight: 100;
}

#about{
  font-family: BRUSHSCI;
  font-size: 1.2rem;
}

#about-input-field{
  border-radius: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#about-back-button{
  border-bottom-left-radius: 8px;
  padding:0;
  cursor: pointer;
}
#about-submit{
  border-bottom-right-radius: 8px;
  padding:0;
}
#about-submit button {
  background-color: inherit;
  border:none;
  color:#fff;
  width: 100%;
  border-bottom-right-radius: 8px;
}
#about p {
  margin-bottom: 0;
}
#edit-about-button {
  font-size: 0.7rem;
  cursor: pointer;
}
